# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
logs
.gitsecret/keys/random_seed
!*.secret
tests/fuzzing_test/fuzzing_test.sh
tests/edsr_test/test_images/ref_image/LR_ref.png
tests/edsr_test/test_images/ref_image/HR_ref.png
tests/edsr_test/test_images/ref_image/00000000.png
tests/edsr_test/test_images/LR/LR_input.png
tests/edsr_test/test_images/HR/HR_input.png
tests/edsr_test/check_results.py
tests/edsr_test/EDSR_test_cases.md
tests/fuzzing_test/ivsr_ffmpeg_cmds.txt
tests/fuzzing_test/ivsr_sample_cmds.txt
tests/ffmpeg_ivsr_sdk_test/colorbars.mp4
tests/ffmpeg_ivsr_sdk_test/function_test.sh
tests/ffmpeg_ivsr_sdk_test/README.md
tests/ffmpeg_ivsr_sdk_test/stress_test_long.sh
tests/ffmpeg_ivsr_sdk_test/stress_test_loop.sh
tests/ffmpeg_ivsr_sdk_test/test_controler.sh
tests/ffmpeg_ivsr_sdk_test/test_params.json
tests/ffmpeg_ivsr_sdk_test/test_video_model_output_psnr.txt